<form method="post" action="{{ path('admin_reservation_bus_delete', {'idReservationBus': reservation_bu.idReservationBus}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_bu.idReservationBus) }}">
    <button class="btn">Delete</button>
</form>
