{% extends 'basebackUser.html.twig' %}

{% block title %}New ReservationBus{% endblock %}

{% block body %}
    <h1>Create new ReservationBus</h1>

    {{ include('reservation_busAdmin/_form.html.twig') }}

    <a href="{{ path('admin_reservation_bus_index') }}">back to list</a>
{% endblock %}
