{% extends 'base.html.twig' %}

{% block title %}New Offre
{% endblock %}

{% block body %}
	<h1>Create new Offre</h1>

	{{ include('offre2/_form.html.twig') }}

	<a href="{{ path('app_offre2_index') }}">back to list</a>
{% endblock %}
