<form method="post" action="{{ path('app_reservation_covoiturage_delete', {'idReservation': reservation_covoiturage.idReservation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation_covoiturage.idReservation) }}">
    <button class="btn">Delete</button>
</form>
