{% extends 'basebackUser.html.twig' %}

{% block title %}New ReservationCovoiturage{% endblock %}

{% block body %}
    <h1>Create new ReservationCovoiturage</h1>

    {{ include('reservation_covoiturageAdmin/_form.html.twig') }}

    <a href="{{ path('admin_reservation_covoiturage_index') }}">back to list</a>
{% endblock %}
