{% extends 'basebackUser.html.twig' %}

{% block title %}Edit Avis{% endblock %}

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('avisAdmin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_avis_index') }}">back to list</a>

    {{ include('avisAdmin/_delete_form.html.twig') }}
{% endblock %}
